
body {
    background-color:  #f1faeeff;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #f1faeeff;
    background-color:none;
    border-width: 20px;
    height: 0px;
    width: 5%;
}
img {
    border-radius: 100%;
}
h1, 
h2,
h3 {
    color: #1d3557ff;
    font: 32px/42px trajan-pro-1,trajan-pro-2;
}
p {
    color: #1d3557ff;
    font: trajan-pro-1,trajan-pro-2;
}